<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PriceHunter</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="#"><img src="{{ url_for('static', filename='img/logo1.png') }}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <nav class="header__menu mobile-menu">
                        <ul class="">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Docs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Github</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="{{ url_for('static', filename='img/hero-1.jpg') }}">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-8 col-md-10 ">
                            <!-- <h6>Summer Collection</h6>
                            <h2>Fall - Winter Collections 2030</h2>
                            <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                            commitment to exceptional quality.</p>
                            <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div> -->

                            <form action="{{ url_for('query') }}" method="get" class="search d-flex align-items-center">
                                <input type="text" name="search_word" placeholder='Search Item eg; "gaming mouse"'>
                                <button type="submit" class="primary-btn btn-round">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <!-- Product Section Begin -->
    <section class="spad" id="showcase">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Combo</li>
                        <li data-filter=".new-arrivals">Jumia</li>
                        <li data-filter=".hot-sales">Tonaton</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter justify-content-center">

                <div class="col-md-6 jumia">

                    {% if jumia_products %}
                        {% for key, value in jumia_products.items() %}
                            <div class="col-lg-10 col-md-10 col-sm-10 col-md-10 col-sm-6 mix new-arrivals">
                                <div class="product__item">
                                    <img class="product__item__pic set-bg" src='{{ value.thumbnail_link }}' />
                                    <div class="product__item__text">
                                        <h6>{{ value.title }}</h6>
                                        <h5>{{ value.price }}</h5>
                                        <a href="#" class="add-cart">+ Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h4>Nothing to display</h4>
                    {% endif %}

                </div>

                <div class="col-md-6 tonaton">

                    {% if jumia_products %}
                        {% for key, value in tonaton_products.items() %}
                        <div class="col-lg-10 col-md-10 col-sm-10 col-md-10 col-sm-6 mix hot-sales">
                            <div class="product__item">
                                <img class="product__item__pic set-bg" src="{{ value.thumbnail_link }}" />
                                <div class="product__item__text">
                                    <h6>{{ value.title }}</h6>
                                    <h5>{{ value.price }}</h5>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        
                    {% endif %}
                    
                </div>

            </div>
            <div class="row spad">
                <div>
                    <p>Search other trusted websites for <strong>"Search Word"</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mix">
                    <div class="product__item border rounded align-items-center px-2 py-4">
                        <img class="other_site set-bg" src="{{ url_for('static', filename='img/kiiku.png') }}" />
                        <div class="product__item__text">
                            <h6>Kikuu</h6>
                            <p>Search: <strong>""</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mix">
                    <div class="product__item border rounded align-items-center px-2 py-4">
                        <img class="other_site set-bg" src="{{ url_for('static', filename='img/melcom_logo.jpg') }}" />
                        <div class="product__item__text">
                            <h6>Melcom</h6>
                            <p>Search: <strong>" "</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mix">
                    <div class="product__item border rounded align-items-center px-2 py-4">
                        <img class="other_site set-bg" src="{{ url_for('static', filename='img/jiji.png') }}" />
                        <div class="product__item__text">
                            <h6>Jiji</h6>
                            <p>Search: <strong>" "</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mix">
                    <div class="product__item border rounded align-items-center px-2 py-4">
                        <img class="other_site set-bg" src="{{ url_for('static', filename='img/africa-kart.png') }}" />
                        <div class="product__item__text">
                            <h6>Africakart</h6>
                            <p>Search: <strong>" "</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="{{ url_for('static', filename='img/footer-logo1.png') }}" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>